<html>
    <head>
   
    </head>
    <body><div class="area"></div><nav class="main-menu">
              <ul>
                  <li>
                      <a routerLink="/listarProfesor">
                          <i class="fa fa-home fa-2x" aria-hidden="true"></i>
                          <span class="nav-text">
                              INICIO
                          </span>
                      </a>
                    
                  </li><hr style="color: white;">
                  <li class="has-subnav">
                      <a routerLink="/listarProfesor">
                        <i class="fa fa-address-card" aria-hidden="true"></i>
                          <span class="nav-text">
                              Profesores
                          </span>
                      </a>
                      
                    </li>
                  <li class="has-subnav">
                      <a routerLink="/listarGaleria">
                        <i class="fa fa-picture-o" aria-hidden="true"></i>
                          <span class="nav-text">
                              Galeria
                          </span>
                      </a>
                      
                  </li>
                  <li class="has-subnav">
                    <a routerLink="/listarvideo">
                        <i class="fa fa-play" aria-hidden="true"></i>
                        <span class="nav-text">
                            Videos
                        </span>
                    </a>
                </li>
                <li class="has-subnav">
                    <a routerLink="/listaravisos">
                        <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                        <span class="nav-text">
                            Avisos
                        </span>
                    </a>
                </li>
                <li class="has-subnav">
                    <a routerLink="/listarblog">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        <span class="nav-text">
                            Blog
                        </span>
                    </a>
                </li>
                <li class="has-subnav">
                    <a routerLink="/slider">
                        <i class="fa fa-scribd" aria-hidden="true"></i>
                        <span class="nav-text">
                            Slider
                        </span>
                    </a>
                </li>
                <li class="has-subnav">
                    <a routerLink="/enlace">
                        <i class="fa fa-external-link" aria-hidden="true"></i>
                        <span class="nav-text">
                            Enlaces
                        </span>
                    </a>
                </li>
                <li class="has-subnav">
                    <a routerLink="/menudenavegacion">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                        <span class="nav-text">
                            Configuracion de Menu
                        </span>
                    </a>
                </li>
                <li class="has-subnav">
                    <a routerLink="/footer">
                        <i class="fa fa-columns" aria-hidden="true"></i>
                        <span class="nav-text">
                            Configuracion de Footer
                        </span>
                    </a>
                </li>
              
                <!--  <li class="has-subnav">
                      <a href="#">
                         <i class="fa fa-folder-open fa-2x"></i>
                          <span class="nav-text">
                              Pages
                          </span>
                      </a>
                     
                  </li>
                  <li>
                      <a href="#">
                          <i class="fa fa-bar-chart-o fa-2x"></i>
                          <span class="nav-text">
                              Graphs and Statistics
                          </span>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <i class="fa fa-font fa-2x"></i>
                          <span class="nav-text">
                             Quotes
                          </span>
                      </a>
                  </li>
                  <li>
                     <a href="#">
                         <i class="fa fa-table fa-2x"></i>
                          <span class="nav-text">
                              Tables
                          </span>
                      </a>
                  </li>
                  <li>
                     <a href="#">
                          <i class="fa fa-map-marker fa-2x"></i>
                          <span class="nav-text">
                              Maps
                          </span>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                         <i class="fa fa-info fa-2x"></i>
                          <span class="nav-text">
                              Documentation
                          </span>
                      </a>
                  </li>-->
              </ul>
  
              <ul class="logout">
                  <li>
                     <a routerLink="/inicio">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                          <span class="nav-text">
                              Cerrar Sesion
                          </span>
                      </a>
                  </li>  
              </ul>
          </nav>
    </body>
</html>