<app-menu-lateral></app-menu-lateral>


<div class="form-group"style="border-left: rgb(255, 251, 251) 80px solid;"><br> <!-- Submit Button -->
    
    <app-in-slider></app-in-slider><br>
  
</div>
<div class="container">  <hr> <button (click)="mostrarOcultar()" type="button" class="btn btn-success"><i class="fa fa-list fa-1x"></i> &nbsp; REGISTRO DE LAS IMAGENES DE CARRUSEL</button></div><br>
<div *ngIf="showMe">
     <div class="table-responsive " style="border-left: rgb(255, 251, 251) 80px solid;
               border-right: rgb(255, 251, 251) 30px solid;" >
     
                     
            <table class="table caption-top custab ">
             
             <thead style="background :rgba(107, 206, 49, 0.842); border: rgb(176, 189, 189) solid 2px;">
               <tr>
                 <th scope="col">ID</th>
                 <th scope="col">Titulo</th>
                 <th scope="col">Descripcion</th>
                 <th scope="col">Imagen</th>
                 <th scope="col">Editar</th>
                 <!-- Submit Button  <th scope="col">Eliminar</th>  -->
               </tr>
             </thead>
             <tbody>
               <tr *ngFor="let Blog of  Listarslider | paginate: { itemsPerPage: 3, currentPage: page }">
                 <th scope="row">{{Blog.id}}</th>
                 <td>{{Blog.titulo}}</td>
                 <td>{{Blog.descripcion}}</td>
                 <td><img src="assets/img/{{Blog.imagen}}" height="70" width="70" style="border-radius: 100px;"></td>
                 
                 <td>
                     <button (click)="modificarEditSelect(Blog.id!)" type="button" class="btn btn-success"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                 </td>
                 <!-- Submit Button  <td>
                     <button (click)=" eliminarSlider(Blog.id!)" type="button" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                 </td> -->
               </tr>
               
             </tbody>
           </table>
           <pagination-controls (pageChange)="page = $event"  previousLabel="Anterior"
           nextLabel="Siguiente" ></pagination-controls>

     </div>

</div>

<!--editar--------------------------------------------->
<div class="container">
  <div class="row">
    <!--COLUMNA 1-->
    <div class="col-sm-5 card">
      <b for="state_id" class="control-label" >Editar información :</b><hr>
      <table>
        <tr>
            <td><label for="state_id" class="control-label">titulo:</label></td>
            <td><textarea [(ngModel)]="use2.titulo" type="text" class="control" ></textarea></td>
        </tr>
        <tr>
          <td><label for="state_id" class="control-label">Descripción:</label></td>
          <td><textarea  [(ngModel)]="use2.descripcion" [ngModelOptions]="{standalone: true}" type="text" class="control"  ></textarea></td>
       </tr>
        <hr>   
        <tr>
            <td>       
              <button (click)="modificar()"  type="button" class="btn  btn-success "><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;&nbsp;Guardar</button>
              </td>
            <td>
              <button (click)="reloadCurrentPage()" type="button" class="btn btn-outline-primary "><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;&nbsp;Ver</button>
            </td>
        </tr> 
     
    </table>
    </div>
    <!--COLUMNA 2-->
    <div class="col-sm-3 ">
      <div class="form-group" > <!-- State Button -->
          <img  [src]="photoSelected || 'assets/img/no-image.png'" height="200px" width="200px" style="border-radius: 10%;border: 2px rgb(189, 180, 180) solid;"><br> <br>       
          <td>
            <input type="file" class="d-none"  (change)="onPhotoSelected($event)" #photoInput>
            <button  (click)="photoInput.click()" type="button" class="btn btn-outline-success">Seleccionar Imagen</button>      
          </td>
       </div>
    </div>
   <!--COLUMNA 3-->
    <div class="col-sm-4 ">  
      <td>   
        <button  (click)=" limpiar()" type="button" class="btn btn-danger">limpiar</button> 
      </td><br>                                             
          <!--mensaje de advertencia-->
        <li class="alert alert-dismissible alert-warning " *ngFor="let obj of errores |keyvalue"  >{{ obj.value }}</li>
        <br>
    </div>
  </div> 
  
</div>
