<div *ngFor="let menu of  Listarmenu" >
<div *ngFor="let pagina of  Listarpagina" >
  
  
  <nav class="navbar navbar-expand-lg navbar-dark {{menu.color_fondo}}">
  <div class="container-fluid">
    <img src="assets/img/{{pagina.imagen}}" width="60px" height="60px" >
    <a class="navbar-brand" href="#">{{pagina.nombre}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto"*ngFor="let detalle of  Listardetalle">
          
              <li class="nav-item">
                  <a class="nav-link active"  routerLink="{{detalle.ruta}}">{{detalle.nombre}}
                    <span class="visually-hidden">(current)</span>
                  </a>
              </li>
 
      </ul>
      <!--
           <form class="d-flex">
        <input class="form-control me-sm-2" type="text" placeholder="Buscar">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
      </form>
       -->
     
    </div>
  </div>
</nav>
</div>
</div>



